// Specific CSS for your home-page
body {
  background-color: #9b9ae5;
  font-family: "Montserrat", sans-serif;
  background: url(Homepage.png);
  // background-size: 395px;
  background-repeat: no-repeat;
  background-size: 395px 770px;
}

.img-div {
  margin-top: 50px;
  margin-bottom: 50px;
}
.heading-div {
  // background-color: red;
  text-align: center;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

label {
  margin-bottom: 45px;
}

.address-input {
  border: none;
  border-radius: 5px;
  background-color: #dedaf3;
  text-align: center;
  padding: 8px;
  width: 300px;
  height: 45px;
  opacity: 85%;
}

::placeholder {
  color: black;
  opacity: 1;
}

input:focus::placeholder {
  color: transparent;
}

.filter-div {
  margin-top: 35px;
}

.row {
  width: 330px;
  grid-gap: 15px;
}

.button-div {
  margin-top: 40px;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: #dedaf3;
  color: black;
  font-size: 15px;
  padding: 8px;
  height: 40px;
  text-align: center;
  width: 200px;
}
