.landing-image {
  background-image: url(WP.png);
  background-size: cover;
  height: 100vh;
}

.sign-up-button {
  position: absolute;
  top: 627px;
  left: 217px;
  height: 42px;
  width: 35%;
}

.sign-up-button a {
  text-decoration: none;
}

.sign-in-button {
  position: absolute;
  top: 700px;
  left: 110px;
  color: white;
}