.landing-image {
  background-image: url(welcome-page.png);
  background-size: cover;
  height: 100vh;
}

.sign-up-button {
  position: absolute;
  top: 670px;
  left: 168px;
}

.sign-up-button a {
  text-decoration: none;
}

.sign-in-button {
  position: absolute;
  top: 752px;
  left: 110px;
  color: white;
}