body {
  font-family: "Montserrat", sans-serif;
  background-color: #9d9cd0;
}

.venue-image {
  height: 40vh;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}

.carousel-inner {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.carousel-item {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 400px;
}

.favourite {
  color: grey;
  position: absolute;
  right: 255px;
  top: 335px;
  width: 18px;
}

.favourite:hover {
  color: red;
  transition: 0.2s ease;
}
// .card h2:hover {
//   color: white;
//   transition: 0.3s ease;
// }

h2 {
  font-size: 23px;
  font-weight: 700;
}

h4 {
  margin: 0px;
}

hr {
  margin-top: 8px;
  margin-bottom: 16px;
}

.venue-list {
  margin-left: -20px;
  margin-top: -20px;
  width: 340px;
}

ul,
li {
  list-style: none;
  padding: 8px;
  font-size: 15px;
}

.venue-header {
  margin-top: -8px;
}

.venue-container {
  background-color: #9c9cd0;
  padding: 12px;
  height: 100vh;
  border-radius: 15px;
}

.venue-infos {
  background-color: #dedaf3;
  padding: 24px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 56%;
}

a {
  color: black;
}

.button-div {
  margin-top: 0px;
  margin-top: -18px;
}

.back-btn {
  border-radius: 50px;
  background-color: white;
  color: #272359;
  height: 28px;
  width: 100px;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 35px;
  text-decoration: none;
}

.icon {
  width: 30px;
  margin-right: 15px;
  margin-bottom: -5px;
}
