.venue-image {
  height: 40vh;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}

.place-holder-one {
  position: absolute;
  right: 50px;
  top: 330px;
  width: 18px;
}

.place-holder-two {
  position: absolute;
  right: 20px;
  top: 330px;
  width: 18px;
}

.place-holder-two:hover {
  color: red;
  transition: 0.2s ease;
}
// .card h2:hover {
//   color: white;
//   transition: 0.3s ease;
// }

.venue-header .shop-open {
  position: absolute;
  right: 76px;
  top: 311px;
  width: 18px;
}

.venue-header .shop-open-display {
  position: absolute;
  right: 34px;
  top: 309px;
  font-size: 15px;
  font-weight: 100;
}

p.shop-open-display {
  color: white;
}

// .shop-open {
//   margin-left: 215px;
//   margin-top: -135px;
//   width: 15px;
// }

h2 {
  font-size: 23px;
  font-weight: 700;
}

ul,
li {
  list-style: none;
  padding: 8px;
}

.venue-container {
  background-color: #9c9cd0;
  padding: 12px;
  height: 100vh;
  border-radius: 15px;
}

.venue-infos {
  background-color: #dedaf3;
  padding: 24px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 60%;
}

i {
  margin-right: 15px;
}

a {
  color: black;
}