    <div class="footer">
    <div class="footer-links">
        <%= link_to "", favourites_path, class: "fas fa-heart" %>
        <%= link_to "", root_path, class: "fas fa-home"  %>
        <a href="#"><i class="fas fa-user"></i></a>
    </div>