<div class="landing-image">
  <div>
    <%= link_to "Sign Up", home_path, class: "sign-up-button btn btn-flat" %>
    <%= link_to "Already have an account? Sign in", home_path, class: "sign-in-button" %>
  </div>
</div>