<h1>Venues</h1>
<br>
<!--get the map put into a id map-->
<!--take the card product from le wagon -->
<!--within the product card need to add extra features like ratings,icons -->
<div class="card" style="background-color: #9C9CD0"> 
    <div>
         <img id="map" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/18.7072,38.9963,1.05,0/600x800?access_token=pk.eyJ1IjoiZG1pbG9uIiwiYSI6ImNrdHlpejZ3eTFleGUybnA4N2Rwa2J2a24ifQ.O8GDpHfLESId83b0vaJCAA">
     </div>
</div>
<div class="card-product">
  <img src=""/>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

