<!--get the map put into a id map-->
<!--take the card product from le wagon -->
<!--within the product card need to add extra features like ratings,icons -->
<div style="width: 100%; height: 350px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<br>


<% @venues.all.each do |venue| %>
<div class="card-product">
  <img src=""/>
  <div class="card-product-infos">
    <h2><%= venue.name %></h2>
    <p><i class="fas fa-map-marker-alt"></i> <%= venue.address %></p>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between">
       <i class="fas fa-share-square big-icon"></i>
       <i class="far fa-heart big-icon"></i>
      </div>
    </div>
  </div>
</div>
<% end %>

