.footer {
  background: #8A89CB;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
  font-size: 36px;
}