.card {
  border-radius: 15px;
  border: #8988ca;
  // background-color: black;
  color: white;
  padding: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  // text-align: center;
}

.card img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  //css background filter gray
}

.card h2 {
  // text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  margin: 0px;
}

.card:hover {
  opacity: 100%;
  // border: 2px solid black;
  transition: 0.3s ease;
}
.card h2:hover {
  color: white;
  transition: 0.3s ease;
}

//card img:hover {
//bacakground filter on/off
//}
