.mapboxgl-popup {
  width: 200px;
  height: 300px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: bold;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.mapbox-container {
  position: sticky;
  top: 0;
  align-items: center;
  // margin: 5px;
  border-radius: 25px;
  margin: 5px 10px 8px 10px;
}

.mapbox {
  border-radius: 6px;
}
