

.venue-infos {
    background-color: #DEDAF3;
    padding: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 60%;
}


.activity-card {
    display: flex;
}
.avatar {
  
    height: 55px;
    width: 55px;
}
.user-info{
    display: flex;
    padding: 24px;
}
.avatar-large {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.user-details {
    padding: 20px 35px;
}
.profile-container {
    background-color: #9C9CD0;
    padding: 12px;
    height: 100vh;
    border-radius: 15px;
    
}
.container-light {
    background-color: #DEDAF3;
    padding: 24px;
    border-radius: 15px;
    height: 95%;
}